@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Navbar Related Styles */
.navbar {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  font-family: Quicksand, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 20px;
  white-space: nowrap;
  justify-content: center;
}

.nav-container {
  display: flex;
  width: 1160px;
  max-width: 100%;
  align-items: center;
  gap: 40px 186px;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-container {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: stretch;
  gap: 11px;
  font-size: 32px;
  color: #111;
  font-weight: 700;
  line-height: 1;
  flex-grow: 1;
  flex-shrink: 1;
  width: 163px;
}

.logo-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 62px;
  flex-shrink: 0;
}

.school-name {
  margin: auto 0;
  flex-basis: auto;
  font-size: inherit;
}

.nav-links-wrapper {
  align-self: stretch;
  min-width: 240px;
  margin: auto 0;
  font-weight: 500;
  flex-grow: 1;
  flex-shrink: 1;
  width: 348px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: start;
}

.nav-link {
  text-decoration: none;
  align-self: stretch;
  margin: auto 0;
}

.home {
  color: #fea301;
  font-weight: 700;
}

.about {
  color: #01acfd;
}

.facilities {
  color: rgba(5, 212, 223, 1);
}

.admission {
  color: rgba(93, 88, 239, 1);
}

.contact-button {
  align-self: stretch;
  border-radius: 12px;
  background: #fea301;
  margin: auto 0;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  flex-grow: 1;
  flex-shrink: 1;
  width: 158px;
  text-decoration: none;
  text-align: center;
}
.rep-img {
  display: none;
}

/* Hero Bannar Related Styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1159px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 50px;
}

.heading {
  font-family: "Quicksand", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}

.heading-orange {
  color: rgba(254, 163, 1, 1);
}

.heading-blue {
  color: rgba(1, 172, 253, 1);
}

.description {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  margin-bottom: 24px;
}

.enroll-button {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #111;
  border-radius: 12px;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  width: 197px;
  text-align: center;
}

.right-content {
  flex: 1;
  max-width: 469px;
  position: relative;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  margin: 0;
}

/* Curriculam Related Style */
.classes {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 879px;
  padding: 60px 0;
  align-items: center;
  background-image: url(./assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-title {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-family: Quicksand, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.curriculum-grid {
  position: relative;
  border-radius: 19px;
  margin-top: 80px;
  width: 1160px;
  max-width: 100%;
}
.curriculum-cards {
  gap: 20px;
  display: flex;
}
.curriculum-card {
  border-radius: 18.864px;
  position: relative;
  display: flex;
  padding: 57px 42px;
  flex-direction: column;
  align-items: center;
  font-family: Quicksand, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  width: 33%;
}
.card-kinder {
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card-elementary {
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card-middle {
  border: 0.943px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 136px;
  max-width: 100%;
}
.card-title {
  color: rgb(32, 32, 32);
  font-size: 24px;
  line-height: 1;
  margin-top: 39px;
}
.card-description {
  color: rgb(128, 128, 128);
  font-family: Raleway, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 28px;
  margin-top: 38px;
  width: 100%;
}
.read-more-link {
  line-height: 2;
  margin-top: 43px;
  text-decoration: none;
}
.read-more-blue {
  color: rgb(100, 200, 255);
}
.read-more-orange {
  color: rgb(240, 170, 0);
}
.read-more-purple {
  color: rgb(135, 0, 255);
}
.navigation-buttons {
  position: relative;
  border-radius: 30px;
  display: flex;
  margin-top: 80px;
  width: 130px;
  max-width: 100%;
  gap: 10px;
  font-family: "Font Awesome 5 Free", -apple-system, Roboto, Helvetica,
    sans-serif;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-align: center;
  line-height: 1;
}
.nav-button {
  border-radius: 30px;
  background: #fea301;
  padding: 0 24px;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}
